.abc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.abc-letter {
  background-color: #110a65;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  color: white;
  border-style: none;
  border-radius: 5px;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.abc-letter:hover {
  transform: rotateY(180deg);
}

.abc-letter div {
  backface-visibility: hidden;
}

.front-side {
  position: absolute;
  transform-style: preserve-3d;
}

.back-side {
  position: absolute;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.p-alphabet {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: white;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}
