html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(255, 162, 77);
  background: linear-gradient(
    180deg,
    rgba(255, 162, 77, 1) 0%,
    rgba(155, 57, 232, 1) 100%
  );
  text-align: center;
}

.style-font {
  font-family: "Lobster", cursive;
  text-align: center;
  color: white;
}

p {
  font-family: "Nunito", sans-serif;
}

.p-main-page {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 15rem;
}

.logo {
  width: 8rem;
}

.abc-container {
  display: flex;
  flex-wrap: wrap;
}

.abc-letter {
  background-color: #110a65;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 2.5rem;
  font-family: "Nunito", sans-serif;
  color: white;
  border-style: none;
  border-radius: 5px;
}

.draggable {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px auto;
  line-height: 5em;
  text-align: center;
  background-color: #110a65;
  color: white;
}

.droppable {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px auto;
  line-height: 5em;
  text-align: center;
  background-color: #110a65;
  color: white;
  position: absolute;
  right: 0;
  top: 10;
}
